/*通用样式*/
@color: red;

.ml0() {
    margin-left: 0;
}

.mr0() {
    margin-right: 0;
}

.cp() {
    cursor: pointer;
}

.cb() {
    clear: both;
}

.no_br() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no_trans() {
    transition: all 0s;
}
